<div class="rental-container" fxLayout="column" fxLayoutAlign="space-around">
  <section fxFlexOrder="1" class="rental-logo">
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">
      <img fxFlex="50" fxFlex.xs="90" src="http://images.ioliu.cn/bing/SecretaryHunt_PT-BR11569265072_1366x768.jpg" alt="">
      <dl fxFlex="40">
        <dt>Sunny Bay</dt>
        <dd>
          A commertial project which is used to reserve hotels. Built with angular v4.
        </dd>
      </dl>
    </div>
  </section>
  <section fxFlexOrder="2" class="rental-general">
    <dl>
      <dt>General Page</dt>
      <dd>
        There should be description of rental.
      </dd>
    </dl>
  </section>
  <section fxFlexOrder="3" class="rental-show">
    <dl>
      <dt>Show Room</dt>
      <dd>
        A brief introduction to features of room. Check
        <a routerLink="rooms">Rooms</a> here.
      </dd>
    </dl>
  </section>
  <section fxFlexOrder="4" class="rental-around">
    <dl>
      <dt>Discovery</dt>
      <dd>
        Want to find some cool things around? Check here!
      </dd>
    </dl>
  </section>
</div>