section {
    margin: 0;
    padding: 40px;
    dt {
        font-weight: bold;
        line-height: 2em;
    }
    dd {
        margin: 0;
    }
}
.rental-logo {
    background: cyan;
    img {
        max-width: 100%
    }
}
.rental-general {
    background: burlywood;
    img {
        max-width: 100%;
    }
}
.rental-show {
    background: coral;
}
.rental-around {
    background: orchid;
}
