@import '~variables.scss';

section {
    margin: 0;
    height: 100vh;
    dt {
        font-weight: bold;
        line-height: 2em;
    }
    dd {
        margin: 0;
    }
}
.rental-container {
    // transform: translateY(-$unit-desktop-toolbar);
    @media screen and (max-width: $media-mobile-max){
        // transform: translateY(-$unit-mobile-toolbar);
    }
}
.rental-logo {
    background: cyan;
    padding: 0;
    .rental-logo-background {
        background-image: url($url-images + "rental-logo-bg.jpg");
        background-size: cover;
        background-position: center center;
        height: 100vh;
    }
}
.rental-general {
    background: burlywood;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center center;
    }
}
.rental-show {
    background: coral;
}
.rental-around {
    background: orchid;
}
