@import '~variables.scss';



section {
    margin: 0;
    padding: 48px;
    @media screen and (max-width: $media-mobile-max) {
        padding: 24px;
    }
    @media screen and (max-width: $media-tablet-max) {
        padding: 36px;
    }
    dt {
        font-weight: bold;
        line-height: 2em;
    }
    dd {
        margin: 0;
    }
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.container {
    background: #f1f1f1;
}
.view {
    height: calc(100vh - 64px);
}
.view-xs {
    height: calc(100vh - 56px);
}
.logo {
    background: lightblue;
    padding: 0;
    // height: 36vh;
    position: relative;
    .title {
        white-space: nowrap;
        margin: 0;
        padding: 0;
    }
    img {
        width: $unit-desktop-one-increment;
        height: $unit-desktop-one-increment;
    }
}
.general {
    padding: 24px;
    background: white;
    border-radius: 2px;
    margin: 48px;
}
.general-xs {
    margin: 24px;
}
.general-md {
    margin: 36px;
}
.rental-show {
    background: coral;
}
.rental-around {
    background: orchid;
}
