<div class="container" ngClass.xs="container-xs" ngClass.lt-md="container-md">
  <!-- <button mat-raised-button color="primary" (click)="onChangeTheme()">ChangeTheme</button> -->
  <div class="view" ngClass.xs="view-xs" fxLayout="column">
    <section class="logo mat-elevation-z2" fxFlex="36" fxFlex.lt-md="24" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
      <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
        <img appElementSrc="rental-logo.svg">
        <div fxFlex="3" fxFlex.xs="10"></div>
        <div class="title" ngClass="mat-display-1" ngClass.xs="mat-h1">大乐之野 · 绿山墙</div>
      </div>
    </section>
    <section class="content general mat-elevation-z2" ngClass.xs="general-xs" ngClass.lt-md="general-md" fxFlex="64" fxFlex.lt-md="76" fxLayout="row"
      fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutAlign.lt-md="center stretch">
      <div fxFlex fxFlexOrder.lt-md="3">
        <h1>遗失的美好境地</h1>
        <p>大乐之野由马科团队设计，其拥有超过5年的民宿经营经验，打造更舒适的民宿。</p>
        <button mat-raised-button color="accent" routerLink="rooms">现在预定</button>
      </div>
      <div fxFlex="4" fxFlexOrder.lt-md="2"></div>
      <div class="general-swiper swiper-container" fxFlex="60" fxFlexOrder.lt-md="1">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img appElementSrc="rental-outlook-1.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img appElementSrc="rental-outlook-2.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img appElementSrc="rental-outlook-3.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img appElementSrc="rental-outlook-4.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img appElementSrc="rental-outlook-5.jpg" alt="">
          </div>
        </div>
        <div class="general-pagination swiper-pagination"></div>
      </div>
    </section>
  </div>

  <section class="content rooms">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h1>住在绿山墙</h1>
      <p>板栗景观房</p>
    </div>
    <div class="rooms-swiper swiper-container">
      <div class="swiper-wrapper">
        <div class="rooms-slide swiper-slide mat-elevation-z2" fxLayout="column">
          <img appElementSrc="rental-room-1.jpg" alt="">
          <p>面对着山景，清晨美丽尽收眼底</p>
        </div>
        <div class="rooms-slide swiper-slide mat-elevation-z2" fxLayout="column">
          <img appElementSrc="rental-room-2.jpg" alt="">
          <p>全景落地窗将阳光照进整个客厅</p>
        </div>
        <div class="rooms-slide swiper-slide mat-elevation-z2" fxLayout="column">
          <img appElementSrc="rental-room-3.jpg" alt="">
          <p>浴室里都是主人精心挑选的欧舒丹洗漱用品</p>
        </div>
      </div>
      <!-- Add Pagination -->
      <!-- <div class="rooms-pagination swiper-pagination"></div> -->
    </div>

  </section>
  <section class="content foods">
    <dl>
      <dt>Discovery</dt>
      <dd>
        Want to find some cool things around? Check here!
      </dd>
    </dl>
  </section>
</div>