<div class="container" ngClass.xs="container-xs" ngClass.lt-md="container-md">
  <!-- <button mat-raised-button color="primary" (click)="onChangeTheme()">ChangeTheme</button> -->
  <div class="view" ngClass.xs="view-xs" fxLayout="column">
    <section class="logo mat-elevation-z2" fxFlex="36" fxFlex.lt-md="24" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
      <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
        <img appElementSrc="rental-logo.svg">
        <div fxFlex="3" fxFlex.xs="10"></div>
        <div class="title" ngClass="mat-display-1" ngClass.xs="mat-h1">大乐之野 · 绿山墙</div>
      </div>
    </section>
    <section class="content general mat-elevation-z2" ngClass.xs="general-xs" ngClass.lt-md="general-md" fxFlex="64" fxFlex.lt-md="76"
      fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutAlign.lt-md="center stretch">
      <div class="general-desc" fxFlexOrder.lt-md="3">
        <h1>遗失的美好境地</h1>
        <p>大乐之野由马科团队设计，其拥有超过5年的民宿经营经验，打造更舒适的民宿。</p>
        <button mat-raised-button color="accent" routerLink="rooms">现在预定</button>
      </div>
      <div fxFlex="4" fxFlexOrder.lt-md="2"></div>
      <div class="general-swiper swiper-container" fxFlex fxFlexOrder.lt-md="1">
        <div class="swiper-wrapper">
          <div *ngFor="let outlook of outlooks" class="swiper-slide">
            <img [appElementSrc]="outlook.src" alt="">
          </div>
        </div>
        <div class="general-pagination swiper-pagination"></div>
      </div>
    </section>
  </div>

  <section class="content rooms">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h1>住在绿山墙</h1>
      <p>板栗景观房</p>
    </div>
    <div class="rooms-swiper swiper-container">
      <div class="swiper-wrapper">
        <div *ngFor="let room of rooms" class="rooms-slide swiper-slide mat-elevation-z2" fxLayout="column">
          <img [appElementSrc]="room.src" alt="">
          <p>{{ room.desc }}</p>
        </div>
      </div>
      <!-- Add Pagination -->
      <!-- <div class="rooms-pagination swiper-pagination"></div> -->
    </div>
  </section>

  <section class="content foods">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h1>食在绿山墙</h1>
      <p>有机的美食</p>
    </div>
    <div class="foods-main mat-elevation-z2">
      <mat-grid-list cols="4">
        <mat-grid-tile *ngFor="let food of foods" [colspan]="food.cols" [rowspan]="food.rows">
          <div class="foods-background-container" [appBackgroundSrc]="food.src" fxLayout fxLayoutAlign="start end">
            <div>
              <h3>{{ food.title }}</h3>
              <p *ngIf="isLargeLayout">{{ food.desc }}</p>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </section>

  <section class="content funs">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h1>玩在绿山墙</h1>
      <p>山里的放松休闲</p>
    </div>
    <div class="funs-swiper swiper-container" ngClass.xs="funs-swiper-xs mat-elevation-z2">
      <div class="swiper-wrapper">
        <div *ngFor="let fun of funs" class="funs-slide swiper-slide" ngClass.xs="funs-slide-xs" ngClass.gt-xs="mat-elevation-z2" fxLayout="column">
          <img [appElementSrc]="fun.src" alt="">
          <div class="funs-desc">
            <h3>{{ fun.title }}</h3>
            <p>{{ fun.desc }}</p>
          </div>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="funs-pagination swiper-pagination" ngClass.xs="funs-pagination-xs"></div>
    </div>

  </section>
</div>