@import '~variables.scss';

footer {
    background: $color-background-footer;
    color: $color-footer;
    padding: 16px;
    .nav {
        a {
            color: inherit;
            text-decoration: none;
            padding: 0;
            margin: 0px 8px 0px 8px;
        }
    }
    .policy {
        p {
            text-align: right;
            font-size: 14px;
            margin: 0;
            padding: 0;
            white-space: normal;
        }
    }
    .policy-xs {
        padding-top: $unit-desktop-space-between-content-areas;
        p {
            text-align: center;
        }
    }
}