@import '~variables.scss';

mat-toolbar {
    background: $color-background-footer;
    color: $color-footer;
    mat-toolbar-row {
        width: unset;
    }
}
.nav {
    a {
        color: inherit;
        text-decoration: none;
        padding: 0;
    }
}
.policy {
    p {
        font-size: 14px;
        margin: 0;
        padding: 0;
    }
}