mat-toolbar {
    background: #eceff1;
    color: #92989b;
    mat-toolbar-row {
        width: unset;
    }
}
.nav {
    a {
        color: inherit;
        text-decoration: none;
        padding: 0;
        display: block;
    }
}
.policy {
    p {
        font-size: 14px;
        margin: 0;
        padding: 0;
    }
}