<div class="wrapper" fxLayout fxLayoutAlign="center center">
  <div fxFlex="80" class="mat-elevation-z2">
    <div class="container" 
        fxLayout fxLayoutAlign="space-between center"
        *ngFor="let control of controls">
      <div>{{ control.name }}</div>
      <!-- <div [ngSwitch]="control.type">
        <div *ngSwitchCase="birth">{{ control.value | date }}</div>
        <div *ngSwitchDefault>{{ control.value }}</div>
      </div> -->
      <div>{{ control.type=='birth'? (control.value | date) : control.value }}</div>
      <mat-icon class="icon" (click)="onEdit(control)">{{ control.icon }}</mat-icon>
    </div>
  </div>
</div>