.wrapper {
    width: 100%;
    height: 100%;
}
.container {
    padding: 24px;
    background: white;
}
// add border
.container ~ .container{
    border-top: 1px solid rgba(0,0,0,0.12);
}

.icon {
    cursor: pointer;
}