@import '~variables.scss';

header {
    z-index: 2;
    position: relative;
}
.nav {
    a {
        color: inherit;
        text-decoration: none;
        padding: 0;
    }
}

@media screen and (max-width: $media-mobile-max) {
    button {
        padding-left: 0px;
        padding-right: 0px;
        min-width: 64px;
    }
}
