@import '~variables.scss';

.room {
    margin: 24px 12px 24px 24px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .room-desc {
        padding: 16px 24px 16px 24px;
    }
}
.room-lt-md {
    margin: 24px 24px 12px 24px;
}
.controls {
    margin: 24px 24px 24px 12px;
}
.controls-lt-md {
    margin: 12px 24px 24px 24px;
}
.rental {
    padding: 16px;
    background: lightblue;
    img {
        width: 48px;
        height: 48px;
    }
    .title {
        margin: 0;
    }
}
form {
    font-size: 1.1rem;
    padding: 24px;
    .control-container {
        input {
            width: 100%;
        }
    }
}
.proceed {
    width: 72px;
    height: 72px;
    .proceed-icon {
        width: 36px;
        height: 36px;
        font-size: 36px;
    }
}
.costs {
    margin: 0;
}
