<div class="reservation-container" fxLayout="row" fxLayout.lt-md="column">
  <section class="room mat-elevation-z2" ngClass.lt-md="room-lt-md" fxFlex="45" fxFlex.lt-md="30" fxLayout="column">
    <div fxFlex>
      <img [appElementSrc]="content.img">
    </div>
    <div class="room-desc">
      <h1>{{ content.title }}</h1>
      <p>{{ content.price | currency:'CNY':'symbol-narrow':'1.0' }}</p>
    </div>
  </section>

  <section class="controls mat-elevation-z2" ngClass.lt-md="controls-lt-md" fxFlex>
    <div class="rental" fxLayout="column" fxLayout.lt-md="row" fxLayoutAlign="space-bwtween center" fxLayoutAlign.lt-md="center center">
      <img appElementSrc="rental-logo.svg">
      <div fxFlex="3"></div>
      <div class="title" ngClass="mat-h1">大乐之野 绿山墙</div>
    </div>
    <form>
      <div class="control-container" fxLayout fxLayoutAlign="space-between center">
        <mat-icon>date_range</mat-icon>
        <div fxFlex="3"></div>
        <mat-form-field fxFlex>
          <input readonly
                 matInput
                 [matDatepicker]="inPicker"
                 [formControl]="inDateControl"
                 [min]="inMinDate"
                 [max]="inMaxDate"
                 name="inDate"
                 [(ngModel)]="inDate"
                 placeholder="入住日期"
                 (click)="inPicker.open()">
          <mat-datepicker touchUi="true" #inPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="control-container" fxLayout fxLayoutAlign="space-between center">
        <mat-icon>date_range</mat-icon>
        <div fxFlex="3"></div>
        <mat-form-field fxFlex>
          <input readonly
                 matInput
                 [matDatepicker]="outPicker"
                 [formControl]="outDateControl"
                 [min]="outMinDate"
                 [max]="outMaxDate"
                 name="outDate"
                 [(ngModel)]="outDate"
                 placeholder="离开日期"
                 (click)="outPicker.open()">
          <mat-datepicker touchUi="true" #outPicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="control-container" fxLayout fxLayoutAlign="start center">
        <mat-icon>people</mat-icon>
        <div fxFlex="3"></div>
        <mat-form-field fxFlex="42">
          <mat-select placeholder="成人" name="adults" [(ngModel)]="adults">
            <mat-option value=1>1</mat-option>
            <mat-option value=2>2</mat-option>
          </mat-select>
        </mat-form-field>
        <div fxFlex></div>
        <mat-form-field fxFlex="42">
          <mat-select placeholder="儿童" name="childs" [(ngModel)]="childs">
            <mat-option value=1>1</mat-option>
            <mat-option value=2>2</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="control-container" fxLayout fxLayoutAlign="space-between center">
        <mat-icon>person</mat-icon>
        <div fxFlex="3"></div>
        <mat-form-field fxFlex>
          <input matInput type="text" placeholder="联系人姓名" name="name" [(ngModel)]="contact.name">
        </mat-form-field>
      </div>
      <div class="control-container" fxLayout fxLayoutAlign="space-between center">
        <mat-icon>phone</mat-icon>
        <div fxFlex="3"></div>
        <mat-form-field fxFlex>
          <input matInput type="tel" placeholder="联系人手机" name="phone" [(ngModel)]="contact.phone">
        </mat-form-field>
      </div>

      <div fxLayout fxLayoutAlign="end center">
        <h1 class="costs">{{ caculateTotalCosts() | currency:'CNY':'symbol-narrow':'1.0' }}</h1>
        <div fxFlex="6"></div>
        <button mat-fab class="proceed">
          <mat-icon class="proceed-icon">arrow_forward</mat-icon>
        </button>
      </div>

    </form>
  </section>
</div>