<div class="wrapper" fxLayout fxLayoutAlign="center center">
  <div fxFlex="8"></div>
  <div fxFlex fxLayout="column" fxLayoutAlign="center stretch">
    <h1 class="headline">创建您的Brand帐户</h1>
    <div fxLayout fxLayoutAlign="center stretch">
      <div class="container">
        <div class="poster-wrapper">
          <img class="poster" appElementSrc="register-poster.jpg">
        </div>
        <div class="desc-wrapper">
          <h2>感受生活</h2>
          <p>入住民宿，体验山里慢节奏的品质生活，开启一种新的生活方式。</p>
        </div>
      </div>
      <div fxFlex="8"></div>
      <div class="container" fxFlex="40">
        <form>
          <mat-form-field>
              <input matInput type="text" placeholder="手机号或邮箱" name="account">
          </mat-form-field>
          <div class="code" fxLayout fxLayoutAlign="space-between center">
            <mat-form-field fxFlex="50">
                <input matInput type="text" placeholder="动态码" name="code">
            </mat-form-field>
            <button mat-button>获取动态码</button>
          </div>
          <mat-form-field>
              <input matInput type="text" placeholder="设置密码" name="password">
          </mat-form-field>
          <mat-form-field>
              <input matInput type="text" placeholder="确认密码" name="confirm-password">
          </mat-form-field>
        </form>
        <div class="process" fxLayout fxLayoutAlign="space-between center">
          <button mat-raised-button color="accent">创 建</button>
          <span>创建账户，意味着同意我们的<span class="contract-link" (click)="onReadContract()">协议</span></span>
        </div>
      </div>

    </div>
  </div>
  <div fxFlex="8"></div>
</div>