@import '~variables.scss';

#write {
    overflow-y: scroll;
    padding: 16px;
}

@media screen and (min-width: $media-desktop-min){
    #write {
        height: 500px;
    }
}

@media screen and (max-width: $media-tablet-max) and (min-width: $media-tablet-min){
    #write {
       height: 400px;
    }
}
