<div class="room-detail-container" fxLayout="column" fxLayoutAlign="space-around">
  <section fxFlexOrder="1" class="room-general">
    <dl>
      <dt>A great room</dt>
      <dd>
        A facinating room only cast $199, what are you waiting for?
      </dd>
    </dl>
  </section>
  <mat-tab-group>
    <mat-tab label="Show Room">
    <section fxFlexOrder="2" class="room-detail-1">
      <dl>
        <dt>Show Room</dt>
        <dd>
          A brief introduction to features of room
        </dd>
      </dl>
    </section>
    </mat-tab>
    <mat-tab label="Room Detail">
      <section fxFlexOrder="3" class="room-detail-2">
        <dl>
          <dt>Room Detail</dt>
          <dd>
            There should be description of room detail.
          </dd>
        </dl>
      </section>
    </mat-tab>
    <mat-tab label="Discover & Contact">
      <section fxFlexOrder="4" class="room-detail-3">
        <dl>
          <dt>Discovery</dt>
          <dd>
            Want to find some cool things around? Check here!
          </dd>
        </dl>
      </section>
    </mat-tab>
  </mat-tab-group>
</div>