<div class="room-detail-container" fxLayout="column" fxLayoutAlign="space-around">
  <section class="room-general"
           fxLayout="row"
           fxLayoutAlign="space-between start"
           fxLayout.xs="column">
    <video class="mat-elevation-z2"
           poster="http://cms-origin-cn.battle.net/cms/gallery/EAKKB99UW6HF1509581523047.jpg"
           src="https://flv2.bn.netease.com/videolib3/1711/04/uwieG3913/HD/uwieG3913-mobile.mp4"
           preload="metadata"
           controls="controls"
           fxFlex="60%"></video>
    <div fxFlex="35">
      <!-- <dl>
        <dt>A great room</dt>
        <dd>
          A facinating room only cast $199, what are you waiting for?
        </dd>
      </dl> -->
      <h2>Great Room</h2>
      <dl>
        <dt>Description</dt>
        <dd>A facinating room only cast $199.</dd>
        <br>
        <dt>Features</dt>
        <dd>
          <li>Modern designed room.</li>
          <li>With full balcony.</li>
          <li>Good for two people.</li>
          <li>Delicious dinner for free.</li>
        </dd>
      </dl>
      <button mat-raised-button color="accent">Order Now</button>
    </div>
  </section>
  <mat-tab-group>
    <mat-tab label="Show Room">
      <section class="room-detail-1">
        <dl>
          <dt>Show Room</dt>
          <dd>
            A brief introduction to features of room
          </dd>
        </dl>
      </section>
    </mat-tab>
    <mat-tab label="Room Detail">
      <section class="room-detail-2">
        <dl>
          <dt>Room Detail</dt>
          <dd>
            There should be description of room detail.
          </dd>
        </dl>
      </section>
    </mat-tab>
    <mat-tab label="Discover & Contact">
      <section class="room-detail-3">
        <dl>
          <dt>Discovery</dt>
          <dd>
            Want to find some cool things around? Check here!
          </dd>
        </dl>
      </section>
    </mat-tab>
  </mat-tab-group>
</div>