<div class="room-detail-container" fxLayout="column" fxLayoutAlign="space-around">
  <section class="room-general mat-elevation-z2"
           fxLayout="row"
           fxLayoutAlign="space-between center"
           fxLayout.xs="column">
    <div class="swiper-container mat-elevation-z2"
         fxFlex="60">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img appElementSrc="detail-slider-1.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img appElementSrc="detail-slider-2.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img appElementSrc="detail-slider-3.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img appElementSrc="detail-slider-4.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img appElementSrc="detail-slider-5.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img appElementSrc="detail-slider-6.jpg" alt="">
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div fxFlex="5"></div>
    <div class="room-general-desc" fxFlex="30">
      <h1>板栗景观 套房</h1>
      <h2>￥1088</h2>
      <dl>
        <dd>
          景观套房分为上下两层，一楼客厅，二楼是 卧室。
          大面积的落地窗让房间充满自然的颜色， 一张大床，一张儿童床，非常适合带孩子的家庭入住。
        </dd>
        <br>
        <dt>亮点</dt>
        <dd>
          <li>50㎡loft型公寓式套房</li>
          <li>大面积落地窗，欣赏自然景色</li>
          <li>含3份早餐（另加早餐到店请告知）</li>
        </dd>
      </dl>
      <button mat-button color="accent" (click)="onWatchVideo()">观看视频</button>
      <button mat-raised-button color="accent">立即预定</button>
      <!-- <video class="mat-elevation-z2"
            poster="http://cms-origin-cn.battle.net/cms/gallery/EAKKB99UW6HF1509581523047.jpg"
            src="https://flv2.bn.netease.com/videolib3/1711/04/uwieG3913/HD/uwieG3913-mobile.mp4"
            preload="metadata"
            controls="controls"
            fxFlex="60%"></video> -->
    </div>
    <div fxFlex="5"></div>
  </section>
  <mat-tab-group>
    <mat-tab label="房间详情">
      <section class="room-detail"
               fxLayout="column"
               fxLayoutAlign="space-between none">
        <div fxFlex>
          <img appElementSrc="detail-content-1.jpg">
        </div>
        <div fxFlex>
          <h1>西式大客厅</h1>
          <dd>主人特地选了北欧风格的家具布置客厅。</dd>
          <dd>客厅带有sony电视，外置音箱。</dd>
          <dd>连接客厅的阳台足够大，民宿提供瑜伽设备，可供客人做瑜伽锻炼。</dd>
          <dd>电热水壶和茶具放在客厅的显眼位置，方便客人取用。</dd>
        </div>
      </section>
      <section class="room-detail"
               fxLayout="column"
               fxLayoutAlign="space-between none">
        <div fxFlex>
          <img appElementSrc="detail-content-2.jpg">
        </div>
        <div fxFlex>
          <h1>敞开式浴房</h1>
          <dd>浴室与房间融为一体，希望度假的您，展开身心。</dd>
          <dd>迎面的山景，泡澡的同时，还能欣赏山景。</dd>
          <dd>浴缸足够大，我们为您准备了来自法国的欧舒丹洗漱用品。</dd>
        </div>
      </section>
      <section class="room-detail"
               fxLayout="column"
               fxLayoutAlign="space-between none">
        <div fxFlex>
          <img appElementSrc="detail-content-3.jpg">
        </div>
        <div fxFlex>
          <h1>Loft式</h1>
          <dd>设计这个家庭套房时，女主人DIY了一个宝宝玩乐的小帐篷。</dd>
          <dd>全封闭的楼梯，给您和您的家人足够的安全感。</dd>
          <dd>榻榻米型的垫子，给宝宝一个充足的活动空间。</dd>
        </div>
      </section>
    </mat-tab>
    <mat-tab label="入住须知">
      <section class="">
        <dl>
          <dt>Room Detail</dt>
          <dd>
            There should be description of room detail.
          </dd>
        </dl>
      </section>
    </mat-tab>
  </mat-tab-group>
</div>