/* You can add global styles to this file, and also import other style files */

// things to be importing
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/theming";
@import "~swiper/dist/css/swiper.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/earlyaccess/notosansscsliced.css');
@import "~variables.scss";


// font-family
html {
    // traditional method, only use browser's default fonts
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    // google font api key
    // AIzaSyBQyP6lOKeJJ1NTDd8AMimkTdymfpL3yaE

    // font: noto sans sc, not sliced version
    // font-family: Roboto, Arial, Helvetica, "Noto Sans SC", STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;

    font-family: Roboto, Arial, Helvetica, "Noto Sans SC Sliced", STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
}

// typography colors & contrast
$font-color-dense: rgba(0,0,0,0.87);
$font-color-light: rgba(0,0,0,0.54);
body {
    color: $font-color-dense;
}
$custom-typography: mat-typography-config(
    $font-family: 'Roboto, Arial, Helvetica, "Noto Sans SC Sliced", STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif'
);

// material component
.fab-wrapper {
    z-index: 2;
    position: fixed;
    bottom: 96px;
    right: 64px;
    @media screen and (max-width: $media-mobile-max) {
        right: 56px;
    }
}

// component node stylesheet
app-room-list {
    display: flex;
    flex-flow: column;
    flex: 1 1 100%;
}

// other groceries
body {
    margin: 0;
}
::-webkit-scrollbar
{
	width: 8px;
}
@media screen and (max-width: $media-mobile-max) {
    ::-webkit-scrollbar
    {
        width: 6px;
    }
}
::-webkit-scrollbar-thumb
{
    background: hsla(0, 0%, 53.3%, .4)
}


// swiper.js
.swiper-container {
    width: 100%;
    height: 100%;
    margin: 0;
}
.swiper-wrapper {
    align-items: center;
    -webkit-align-items: center;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


// things needs to be include & custormize
@include mat-core($custom-typography);