/*
    matrics && units && measurements
    this unit is based on material design for mobile
    only change $unit-one-dp at every responsive element
*/

// unit defination
$unit-mobile: 56px;
$unit-tablet: 64px;
$unit-desktop: 72px;
$unit-one-dp: $unit-tablet / 56;
$unit-one-increment: 56 * $unit-one-dp;
$media-mobile-max: 600px;
$media-tablet-min: 601px;
$media-tablet-max: 1024px;
$media-desktop-min: 1025px;

// material design general
$unit-toolbar: 56 * $unit-one-dp;
$unit-status-bar: 24 * $unit-one-dp;
$unit-screen-margin: 16 * $unit-one-dp;
$unit-content-left-margin: 72 * $unit-one-dp;
// material design list
$unit-list-item: 72 * $unit-one-dp;
$unit-space-between-content-areas: 8 * $unit-one-dp;