// matrics && units && measurements
$unit-one-dp: 64px / 56;
$unit-one-increment: $unit-one-dp;
// general
$unit-toolbar: 56 * $unit-one-dp;
$unit-status-bar: 24 * $unit-one-dp;
$unit-screen-margin: 16 * $unit-one-dp;
@media screen and (min-width: 600px) {
    $unit-screen-margin: 24 * $unit-one-dp;
}
$unit-content-left-margin: 72 * $unit-one-dp;
@media screen and (min-width: 600px){
    $unit-content-left-margin: 80 * $unit-one-dp;
}
// list
$unit-list-item: 72 * $unit-one-dp;
$unit-space-between-content-areas: 8 * $unit-one-dp;