<mat-sidenav-container>
  <mat-sidenav 
      #sidenavElement
      class="mat-elevation-z16"
      [mode]="sidenav.mode"
      [opened]="sidenav.opened"
      fxLayout="column">
      <mat-card fxFlex="100%" fxLayout="column" fxLayoutAlign="space-between space-between">
        <mat-card-header>
          <img mat-card-avatar src="http://images.ioliu.cn/bing/LeuchtturmWarnemuende_EN-AU8137822331_640x480.jpg" alt="">
          <mat-card-title>绿山墙</mat-card-title>
          <mat-card-subtitle>大乐之野</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxFlex>
            <div *ngFor="let filterOption of filterOptions">
              <mat-slide-toggle
                class="slider"
                color="accent"
                [checked]="filterOption.checked"
                [disabled]="filterOption.disabled"
                (change)="onToggleChange(filterOption)">
                {{ filterOption.content }}
               </mat-slide-toggle>
            </div>
        </mat-card-content>
        <mat-card-footer>
          <div class="nav">
              <a routerLink="">Sunny Bay</a>
              <a routerLink="">About</a>
              <a routerLink="">Recruit</a>
          </div>
          <div class="policy">
              <p>Powered by SunnyBay ©2017-2018. Code licensed under an GPLV3-style License.</p>
          </div>
        </mat-card-footer>
      </mat-card>
  </mat-sidenav>

  <mat-sidenav-content
       fxLayout="row wrap" 
       fxLayout.xs="column"
       fxLayoutAlign="space-between start"
       fxLayoutAlign.xs="center center">
    <div class="card-container" 
         fxFlex.gt-xs="50%" 
         *ngFor="let content of contentCards"
         routerLink="1">
      <mat-card class="main-card">
        <img mat-card-image [appElementSrc]="content.img">
        <mat-card-title>{{ content.title }}</mat-card-title>
        <mat-card-content>
          <p>{{ content.content }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="fab-wrapper">
  <button mat-fab (click)="sidenavElement.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</div>