@import '~@angular/material/theming';
@import '~variables.scss';

mat-card-content {
    overflow-y: auto;
    .slider {
        padding-top: $unit-desktop-space-between-content-areas;
        padding-bottom: $unit-desktop-space-between-content-areas;
    }
}

.sidenav-content {
    padding: $unit-desktop-screen-margin;
    mat-card {
        margin: 0;
        @include mat-elevation-transition;
        @include mat-elevation(2);
        @media screen and (min-width: $media-desktop-min){
            &:hover {
                @include mat-elevation(8);
            }
        }
        &:active {
            @include mat-elevation(8);
        }
    }
}

.card-container {
    padding: $unit-desktop-space-between-content-areas;
    &:focus {
        outline: none;
    }
}
