<mat-sidenav-container>
  <mat-sidenav 
      #sidenavElement
      class="mat-elevation-z16"
      [mode]="sidenav.mode"
      [opened]="sidenav.opened"
      fxLayout="column">
      <mat-card fxFlex="100%" fxLayout="column" fxLayoutAlign="space-between space-between">
        <mat-card-title-group>
          <!-- <div mat-card-avatar class="sidenav-avatar"></div> -->
          <img mat-card-md-image src="http://images.ioliu.cn/bing/LeuchtturmWarnemuende_EN-AU8137822331_640x480.jpg" alt="">
          <!-- <img mat-card-avatar src="http://images.ioliu.cn/bing/LeuchtturmWarnemuende_EN-AU8137822331_640x480.jpg" alt=""> -->
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content fxFlex="60%">
        </mat-card-content>
        <mat-card-footer>
          footer
        </mat-card-footer>
      </mat-card>
  </mat-sidenav>

  <mat-sidenav-content
       fxLayout="row wrap" 
       fxLayout.xs="column"
       fxLayoutAlign="space-between start"
       fxLayoutAlign.xs="center center">
    <div class="card-container" fxFlex.gt-xs="50%">
      <mat-card class="main-card">
        <img mat-card-image src="http://images.ioliu.cn/bing/LeuchtturmWarnemuende_EN-AU8137822331_640x480.jpg">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="card-container" fxFlex.gt-xs="50%">
      <mat-card class="main-card">
        <img mat-card-image src="http://images.ioliu.cn/bing/LeuchtturmWarnemuende_EN-AU8137822331_640x480.jpg">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="card-container" fxFlex.gt-xs="50%">
      <mat-card class="main-card">
        <img mat-card-image src="http://images.ioliu.cn/bing/LeuchtturmWarnemuende_EN-AU8137822331_640x480.jpg">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="card-container" fxFlex.gt-xs="50%">
      <mat-card class="main-card">
        <img mat-card-image src="http://images.ioliu.cn/bing/LeuchtturmWarnemuende_EN-AU8137822331_640x480.jpg">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
<div class="fab-wrapper">
  <button mat-fab (click)="sidenavElement.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</div>