@import '~@angular/material/theming';
@import '~variables.scss';

mat-sidenav {
    width: 5 * $unit-desktop-one-increment;
    height: 100%;
    padding: 24px;
}
mat-sidenav-container {
    flex: 1 1 100%;
}

.rental {
    img {
        color: gray;
        width: 56px;
        height: 56px;
    }
    h1 {
        margin: 0 0 0 16px;
    }
}
.options {
    ul {
        list-style: none;
        padding: 0;
        padding-left: 8px;
        li {
            cursor: pointer;
            padding-top: $unit-desktop-space-between-content-areas;
            padding-bottom: $unit-desktop-space-between-content-areas;
            mat-icon {
                margin-right: 16px;
                color: gray;
            }
            &:focus {
                outline: none;
            }
        }
    }
}

.sidenav-content {
    padding: $unit-desktop-screen-margin;
    mat-card {
        margin: 0;
        @include mat-elevation-transition;
        @include mat-elevation(2);
        @media screen and (min-width: $media-desktop-min){
            &:hover {
                @include mat-elevation(8);
            }
        }
        &:active {
            @include mat-elevation(8);
        }
    }
}

.footer {
    margin: inherit;
    color: $color-footer;
    .nav a {
        color: inherit;
        text-decoration: none;
        padding: 0;
        margin-right: 8px;
    }
    .policy {
        padding-top: $unit-desktop-space-between-content-areas;
    }
}

.card-container {
    padding: $unit-desktop-space-between-content-areas;
    &:focus {
        outline: none;
    }
}