<ng-template #sideMainTemplate>
  <div fxLayout="column">
    <div class="account" fxLayout fxLayoutAlign="start center">
      <mat-icon svgIcon="account"></mat-icon>
      <h1>Roger-罗杰</h1>
    </div>
    <div class="options" fxFlex>
      <ul>
        <li fxLayout fxLayoutAlign="start center" routerLink="profile"><mat-icon>person</mat-icon>个人信息</li>
        <li fxLayout fxLayoutAlign="start center" routerLink="orders"><mat-icon>shop</mat-icon>我的订单</li>
        <li fxLayout fxLayoutAlign="start center" routerLink="occupancies"><mat-icon>people</mat-icon>入住人信息</li>
      </ul>
    </div>
  </div>
</ng-template>

<router-outlet></router-outlet>
